<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="equipe">
            <h2><span jhiTranslate="pronosticsApp.equipe.detail.title">Equipe</span> {{ equipe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pronosticsApp.equipe.codeEquipe">Code Equipe</span></dt>
                <dd>
                    <span>{{ equipe.codeEquipe }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.equipe.nomEquipe">Nom Equipe</span></dt>
                <dd>
                    <span>{{ equipe.nomEquipe }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.equipe.rangFifa">Rang Fifa</span></dt>
                <dd>
                    <span>{{ equipe.rangFifa }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.equipe.ecusson">Ecusson</span></dt>
                <dd>
                    <div *ngIf="equipe.ecusson">
                        <a (click)="openFile(equipe.ecussonContentType, equipe.ecusson)">
                            <img [src]="'data:' + equipe.ecussonContentType + ';base64,' + equipe.ecusson" style="max-width: 100%;" alt="equipe image"/>
                        </a>
                        {{ equipe.ecussonContentType }}, {{ byteSize(equipe.ecusson) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.equipe.pays">Pays</span></dt>
                <dd>
                    <div *ngIf="equipe.pays">
                        <a [routerLink]="['/pays', equipe.pays?.id, 'view']">{{ equipe.pays?.nom }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/equipe', equipe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
