<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEquipeLabel" jhiTranslate="pronosticsApp.equipe.home.createOrEditLabel">Create or edit a Equipe</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!equipe.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="equipe.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.equipe.codeEquipe" for="field_codeEquipe">Code Equipe</label>
            <input type="text" class="form-control" name="codeEquipe" id="field_codeEquipe"
                [(ngModel)]="equipe.codeEquipe" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.equipe.rangFifa" for="field_rangFifa">Rang Fifa</label>
            <input type="number" class="form-control" name="rangFifa" id="field_rangFifa"
                [(ngModel)]="equipe.rangFifa" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.equipe.ecusson" for="field_ecusson">Ecusson</label>
            <div>
                <img [src]="'data:' + equipe.ecussonContentType + ';base64,' + equipe.ecusson" style="max-height: 100px;" *ngIf="equipe.ecusson" alt="equipe image"/>
                <div *ngIf="equipe.ecusson" class="form-text text-danger clearfix">
                    <span class="pull-left">{{equipe.ecussonContentType}}, {{byteSize(equipe.ecusson)}}</span>
                    <button type="button" (click)="clearInputImage('ecusson', 'ecussonContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_ecusson" (change)="setFileData($event, equipe, 'ecusson', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="ecusson" id="field_ecusson"
                [(ngModel)]="equipe.ecusson" required/>
            <input type="hidden" class="form-control" name="ecussonContentType" id="field_ecussonContentType"
                [(ngModel)]="equipe.ecussonContentType" />
            <div [hidden]="!(editForm.controls.ecusson?.dirty && editForm.controls.ecusson?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ecusson?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.equipe.pays" for="field_pays">Pays</label>
            <select class="form-control" id="field_pays" name="pays" [(ngModel)]="equipe.pays">
                <option [ngValue]="null"></option>
                <option [ngValue]="paysOption.id === equipe.pays?.id ? equipe.pays : paysOption" *ngFor="let paysOption of pays; trackBy: trackPaysById">{{paysOption.nom}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
