<div>
    <h2 id="page-heading">
        <span jhiTranslate="pronosticsApp.competition.home.title">Competitions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-competition" [routerLink]="['/competition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="pronosticsApp.competition.home.createLabel">
            Create a new Competition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pronosticsApp.competition.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="competitions?.length === 0">
        <span jhiTranslate="pronosticsApp.competition.home.notFound">No competitions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="competitions && competitions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.dateDebut">Date Debut</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.dateFin">Date Fin</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.equipe">Equipe</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.pays">Pays</span></th>
                    <th scope="col" ><span jhiTranslate="pronosticsApp.competition.stade">Stade</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let competition of competitions ;trackBy: trackId">
                    <td><a [routerLink]="['/competition', competition.id, 'view']">{{ competition.id }}</a></td>
                    <td>{{ competition.nom }}</td>
                    <td>{{ competition.description }}</td>
                    <td>{{ competition.dateDebut | date:'mediumDate' }}</td>
                    <td>{{ competition.dateFin | date:'mediumDate' }}</td>
                    <td>
                        <span *ngFor="let equipe of competition.equipes; let last = last">
                            <a class="form-control-static" [routerLink]="['/equipe', equipe?.id, 'view']">{{ equipe.codeEquipe }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let pays of competition.pays; let last = last">
                            <a class="form-control-static" [routerLink]="['/pays', pays?.id, 'view']">{{ pays.nom }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let stade of competition.stades; let last = last">
                            <a class="form-control-static" [routerLink]="['/stade', stade?.id, 'view']">{{ stade.nom }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/competition', competition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/competition', competition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(competition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
