<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPaysLabel" jhiTranslate="pronosticsApp.pays.home.createOrEditLabel">Create or edit a Pays</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pays.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pays.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.pays.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="pays.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.pays.codeIso" for="field_codeIso">Code Iso</label>
            <input type="text" class="form-control" name="codeIso" id="field_codeIso"
                [(ngModel)]="pays.codeIso" required/>
            <div [hidden]="!(editForm.controls.codeIso?.dirty && editForm.controls.codeIso?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.codeIso?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.pays.drapeau" for="field_drapeau">Drapeau</label>
            <div>
                <img [src]="'data:' + pays.drapeauContentType + ';base64,' + pays.drapeau" style="max-height: 100px;" *ngIf="pays.drapeau" alt="pays image"/>
                <div *ngIf="pays.drapeau" class="form-text text-danger clearfix">
                    <span class="pull-left">{{pays.drapeauContentType}}, {{byteSize(pays.drapeau)}}</span>
                    <button type="button" (click)="clearInputImage('drapeau', 'drapeauContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_drapeau" (change)="setFileData($event, pays, 'drapeau', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="drapeau" id="field_drapeau"
                [(ngModel)]="pays.drapeau" required/>
            <input type="hidden" class="form-control" name="drapeauContentType" id="field_drapeauContentType"
                [(ngModel)]="pays.drapeauContentType" />
            <div [hidden]="!(editForm.controls.drapeau?.dirty && editForm.controls.drapeau?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.drapeau?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
