<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStadeLabel" jhiTranslate="pronosticsApp.stade.home.createOrEditLabel">Create or edit a Stade</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!stade.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="stade.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.stade.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="stade.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.stade.ville" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                [(ngModel)]="stade.ville" required/>
            <div [hidden]="!(editForm.controls.ville?.dirty && editForm.controls.ville?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ville?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pronosticsApp.stade.pays" for="field_pays">Pays</label>
            <select class="form-control" id="field_pays" name="pays" [(ngModel)]="stade.pays">
                <option [ngValue]="null"></option>
                <option [ngValue]="paysOption.id === stade.pays?.id ? stade.pays : paysOption" *ngFor="let paysOption of pays; trackBy: trackPaysById">{{paysOption.nom}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
