
<div *ngIf="stade">
    <h2><span jhiTranslate="pronosticsApp.stade.detail.title">Stade</span> {{stade.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pronosticsApp.stade.nom">Nom</span></dt>
        <dd>
            <span>{{stade.nom}}</span>
        </dd>
        <dt><span jhiTranslate="pronosticsApp.stade.ville">Ville</span></dt>
        <dd>
            <span>{{stade.ville}}</span>
        </dd>
        <dt><span jhiTranslate="pronosticsApp.stade.pays">Pays</span></dt>
        <dd>
            <div *ngIf="stade.pays">
                <a [routerLink]="['/pays', stade.pays?.id]">{{stade.pays?.nom}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stade/'+ stade.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
