<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="pronosticsApp.match.detail.title">Match</span> {{ match.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pronosticsApp.match.date">Date</span></dt>
                <dd>
                    <span>{{ match.date }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.statut">Statut</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pronosticsApp.StatutMatch.' + match.statut }}">{{ match.statut }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.code">Code</span></dt>
                <dd>
                    <span>{{ match.code }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.scoreEquipeDomicile">Score Equipe Domicile</span></dt>
                <dd>
                    <span>{{ match.scoreEquipeDomicile }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.scoreEquipeVisiteur">Score Equipe Visiteur</span></dt>
                <dd>
                    <span>{{ match.scoreEquipeVisiteur }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.phaseCompetition">Phase Competition</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'pronosticsApp.PhaseCompetition.' + match.phaseCompetition }}">{{ match.phaseCompetition }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.groupe">Groupe</span></dt>
                <dd>
                    <span>{{ match.groupe }}</span>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.competition">Competition</span></dt>
                <dd>
                    <div *ngIf="match.competition">
                        <a [routerLink]="['/competition', match.competition?.id, 'view']">{{ match.competition?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.stade">Stade</span></dt>
                <dd>
                    <div *ngIf="match.stade">
                        <a [routerLink]="['/stade', match.stade?.id, 'view']">{{ match.stade?.nom }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.equipeDomicile">Equipe Domicile</span></dt>
                <dd>
                    <div *ngIf="match.equipeDomicile">
                        <a [routerLink]="['/equipe', match.equipeDomicile?.id, 'view']">{{ match.equipeDomicile?.codeEquipe }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="pronosticsApp.match.equipeVisiteur">Equipe Visiteur</span></dt>
                <dd>
                    <div *ngIf="match.equipeVisiteur">
                        <a [routerLink]="['/equipe', match.equipeVisiteur?.id, 'view']">{{ match.equipeVisiteur?.codeEquipe }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
