<div>
    <h2>
        <span jhiTranslate="pronosticsApp.match.home.title">Matches</span>
        <button class="btn btn-primary float-right jh-create-entity create-match" [routerLink]="['/', { outlets: { popup: ['match-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="pronosticsApp.match.home.createLabel">
            Create new Match
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'pronosticsApp.match.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="matches">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="pronosticsApp.match.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statut"><span jhiTranslate="pronosticsApp.match.statut">Statut</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="pronosticsApp.match.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scoreEquipeDomicile"><span jhiTranslate="pronosticsApp.match.scoreEquipeDomicile">Score Equipe Domicile</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scoreEquipeVisiteur"><span jhiTranslate="pronosticsApp.match.scoreEquipeVisiteur">Score Equipe Visiteur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phaseCompetition"><span jhiTranslate="pronosticsApp.match.phaseCompetition">Phase Competition</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupe"><span jhiTranslate="pronosticsApp.match.groupe">Groupe</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="competition.nom"><span jhiTranslate="pronosticsApp.match.competition">Competition</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stade.nom"><span jhiTranslate="pronosticsApp.match.stade">Stade</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="equipeDomicile.codeEquipe"><span jhiTranslate="pronosticsApp.match.equipeDomicile">Equipe Domicile</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="equipeVisiteur.codeEquipe"><span jhiTranslate="pronosticsApp.match.equipeVisiteur">Equipe Visiteur</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let match of matches ;trackBy: trackId">
                <td><a [routerLink]="['../match', match.id ]">{{match.id}}</a></td>
                <td>{{match.date | date:'medium'}}</td>
                <td jhiTranslate="{{'pronosticsApp.StatutMatch.' + match.statut}}">{{match.statut}}</td>
                <td>{{match.code}}</td>
                <td>{{match.scoreEquipeDomicile}}</td>
                <td>{{match.scoreEquipeVisiteur}}</td>
                <td jhiTranslate="{{'pronosticsApp.PhaseCompetition.' + match.phaseCompetition}}">{{match.phaseCompetition}}</td>
                <td>{{match.groupe}}</td>
                <td>
                    <div *ngIf="match.competition">
                        <a [routerLink]="['../competition', match.competition?.id ]" >{{match.competition?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.stade">
                        <a [routerLink]="['../stade', match.stade?.id ]" >{{match.stade?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.equipeDomicile">
                        <a [routerLink]="['../equipe', match.equipeDomicile?.id ]" >{{match.equipeDomicile?.codeEquipe}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.equipeVisiteur">
                        <a [routerLink]="['../equipe', match.equipeVisiteur?.id ]" >{{match.equipeVisiteur?.codeEquipe}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../match', match.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
