<div class="row" *ngIf="!isAuthenticated()">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome on Globnostics!</h1>
        <p class="lead" jhiTranslate="home.subtitle">The picks application of Globaz</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

        <div class="alert alert-warning">
            <span jhiTranslate="global.messages.info.authenticated.prefix">You already have an account ?</span>
            <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            <span jhiTranslate="global.messages.info.authenticated.suffix"></span>
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
            <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
        </div>

        <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
    </div>
    </div>
</div>

<!-- Affichage des matchs et prono si user loggé -->
<div class="row" *ngIf="isAuthenticated()">
    <form name="competitionForm" role="form" [formGroup]="competitionForm">
        <div class="row" class="col-12">
            <div class="form-group">
                <label class="form-control-label">Competition</label>
                <select class="form-control" id="competition" formControlName="competition">
                    <option *ngFor="let competition of listCompetition" [ngValue]="competition">
                        {{ competition.nom }}
                    </option>
                </select>
                <p>Form value: {{ competitionForm.value | json }}</p>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-8">
            <jhi-pronostic-saisie></jhi-pronostic-saisie>
        </div>
        <div class="col-4">
            <jhi-classement></jhi-classement>
        </div>
    </div>
</div>
