<div>
    <h2>
        <span jhiTranslate="pronosticsApp.pronostic.home.title">Pronostics</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pronostics">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th>
                        <span>Date</span>
                    </th>
                    <th>
                        <span>Domicile</span>

                    </th>
                    <th>
                        <span>Visiteur</span>

                    </th>
                    <th>
                        <span>Score</span>

                    </th>
                    <th>
                        <span>Prono Domicile</span>

                    </th>
                    <th>
                        <span>Prono Visiteur</span>

                    </th>
                    <th>
                        <span>Statut match</span>

                    </th>
                    <th>
                        <span jhiTranslate="pronosticsApp.pronostic.utilisateur">Utilisateur</span>

                    </th>
                    <th>
                        <span>Valider</span>

                    </th>
                    <th>
                        <span jhiTranslate="pronosticsApp.pronostic.points">Points</span>
                        <span></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let pronostic of pronostics ;trackBy: trackId">
                    <td>
                        {{pronostic.match?.date | date:'dd.MM.yyyy HH:mm'}}
                    </td>
                    <td>{{pronostic.match?.equipeDomicile.pays.nom}}</td>
                    <td>{{pronostic.match?.equipeVisiteur.pays.nom}}</td>
                    <td>{{pronostic.match?.scoreEquipeDomicile}} - {{pronostic.match?.scoreEquipeVisiteur}} </td>
                    <td>
                        <input pattern="[0-9]+" ngModel [disabled]="dateIsApres(pronostic.match.date)" type="text" class="form-control" id="scoreEquipeDomicile"
                            name="scoreEquipeDomicile" [(ngModel)]="pronostic.scoreEquipeDomicile" />
                    </td>
                    <td>
                        <input size="2" maxlength="2" [disabled]="dateIsApres(pronostic.match.date)" type="number" class="form-control" id="scoreEquipeVisiteur"
                            name="scoreEquipeVisiteur" [(ngModel)]="pronostic.scoreEquipeVisiteur" />
                    </td>
                    <td>
                        {{pronostic.match?.statut}}
                    </td>

                    <td>
                        {{pronostic.utilisateur?.login}}
                    </td>
                    <td>
                        <button *ngIf="!dateIsApres(pronostic.match.date)" class="btn btn-danger btn-sm" (click)="valideProno(pronostic)">Valider</button>
                    </td>
                    <td>{{pronostic.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>